{% extends 'base.html' %} 
{% block content %}

<section>
    <div>
        <h1>{{ event.type }}</h1>
          <h2>{{ event.name }}</h2>
        <h3>{{ event.description }}</h3>
        <p>{{ event.people }} people currently attending!</p>
      </div>
    <div>
      <a href="{% url 'event-update' event.id %}">Edit</a>
      <a href="{% url 'event-delete' event.id %}">Delete</a>
    </div>
</section>

<h3>Add a Moment</h3>
<!-- Add just above the feedings table -->
<form action="{% url 'add-moment' event.id %}" method='POST' autocomplete="off">
  {% csrf_token %} 
  {{ moment_form.as_p }}
  <button type="submit">Add Moment</button>
</form>


<div>
  <section>
    <div>
      <h2>Moments</h2>
    </div>
    {% if event.moment_set.all.count %}
    <table>
      <thead>
        <tr>
          <th>Moment</th>
          <th>Date & Time</th>
        </tr>
      </thead>
      <tbody>
        {% for moment in event.moment_set.all %}
          <tr>
            <td>{{moment.name}}</td>
            <td>{{moment.date_time}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div>
      <p>No moments created for this event yet!</p>
    </div>
    {% endif %}
  </section>
</div>

<section>
  <div>
    <h2>Assets</h2>
  </div>

  <h3>Requested Assets</h3>
  <div>
    {% if event.assets.count %} 
      {% for asset in event.assets.all %}
        <div>
          <a href="{% url 'asset-detail' asset.id %}">
            <p>{{ asset.name }}</p>
            <form action="{% url 'remove-asset' event.id asset.id %}" method="post">
              {% csrf_token %}
              <button type="submit">Remove Asset</button>
            </form>
            
          </a>
        </div>
      {% endfor %} 
    {% else %}
      <p>Request some assets for this event if needed!</p>
    {% endif %}
  </div>

  <h3>Available Assets</h3>
  <div>
    {% for asset in assets %}
      <div>
        <p>{{ asset.name }}</p>
        <form action="{% url 'associate-toy' event.id asset.id %}" method="post">
          {% csrf_token %}
          <button type="submit">Use Asset</button>
        </form>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}